
body {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
div {
    user-select: none;
}
button {
    outline: none;
    cursor: pointer;
}
canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
    padding: 0px;
    margin: 0px;
}

#gameDiv {
    top: 100%;
    left: 100%;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #000000;
    padding: 0px;
    margin: 0px;
}
#ctx {
    position: absolute;
    top: 0px;
    left: 0px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    cursor: crosshair;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
#worldMapCanvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(30,30,30,0.5);
}
::-webkit-scrollbar-thumb {
    background: rgba(20,20,20,0.5);
}
@font-face {
    font-family: 'pixel';
    src: url(/client/websiteAssets/MiniSet2.ttf@14d552ae72d147f7b96abae4220f32c0.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

.UI-display-light {
    position: absolute;
    font-family: 'pixel';
    font-size: 15px;
    color: #ffffff;
    background-color: #362a1e;
    border: 1px solid #000000;
    cursor: default;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
}
.UI-display-light:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #725640;
}
.UI-button-light {
    position: absolute;
    font-family: 'pixel';
    font-size: 15px;
    color: #ffffff;
    background-color: #362a1e;
    border: 1px solid #000000;
    transition-duration: 0.4s;
    cursor: pointer;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
}
.UI-button-light:hover {
    background-color: #231913;
}
.UI-button-light:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #725640;
}
.UI-dropdown-light {
    position: absolute;
    font-family: 'pixel';
    font-size: 15px;
    color: #ffffff;
    background-color: #362a1e;
    border: 1px solid #000000;
    transition-duration: 0.4s;
    cursor: pointer;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
}
.UI-dropdown-light:hover {
    background-color: #231913;
}
.UI-dropdown-light:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #725640;
}
.UI-input-light {
    position: absolute;
    font-family: 'pixel';
    color: #000000;
    border: 1px solid #000000;
    transition-duration: 0.4s;
    cursor: text;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
}
.UI-text-light {
    position: absolute;
    font-family: 'pixel';
    color: #000000;
    border: 0px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
}
.UI-link-light {
    color: #00ff90;
}
.UI-link-light:focus {
    color: #00aa70;
}


#pageDiv {
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-image: url("./maps/Preview.png");
    background-size: 100%, 100%;
}
#pageShade {
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    opacity: 0.3;
}
#pageScroll {
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
#pageName {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0%);
    font-size: 80px;
    font-family: 'pixel';
    color: #000000;
}

#pageStackLeft {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 35%;
    height: auto;
}
#pageStackRight {
    position: absolute;
    top: 50%;
    left: 55%;
    width: 35%;
    height: auto;
}
.pageStackInner {
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
}
.pageStackInner:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #725640;
}
.pageStackOuter {
    position: relative;
    top: 0px;
    left: 0%;
    width: 100%;
    height: auto;
    overflow: hidden;
    min-height: 0px;
    margin-bottom: 8px;
}
#signInput {
    position: static;
    top: 8px;
    float: left;
    width: auto;
}
#signLabel {
    position: static;
    top: 8px;
    left: 8px;
    float: left;
    width: auto;
}
#signBottom {
    position: static;
    top: 52px;
    left: 8px;
    float: left;
    width: auto;
    margin-bottom: 12px;
}
#username {
    position: relative;
    top: 8px;
    left: 8px;
}
#password {
    position: relative;
    top: 8px;
    left: 8px;
}
#newPassword {
    position: relative;
    top: 8px;
    left: 8px;
}
#usernameLabel {
    position: relative;
    top: 8px;
    left: 8px;
    color: #ffffff;
}
#passwordLabel {
    position: relative;
    top: 12px;
    left: 8px;
    color: #ffffff;
}
#newPasswordLabel {
    position: relative;
    top: 12px;
    left: 8px;
    color: #ffffff;
}
#signIn {
    position: relative;
    top: 8px;
    left: 8px;
}
#createAccount {
    position: relative;
    top: 8px;
    left: 8px;
}
#deleteAccount {
    position: relative;
    top: 8px;
    left: 8px;
}
#changePassword {
    position: relative;
    top: 8px;
    left: 8px;
}
#signError {
    position: relative;
    top: 8px;
    left: 8px;
}

.disconnectedDiv {
    background-color: #ff0000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: 'pixel';
    text-align: center;
    font-size: 75px;
    color: #000000;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    transition-duration: 0.4s;
    opacity: 0.75;
    user-select: none;
}
.disconnectedDiv:hover {
    opacity: 1;
    font-size: 150px;
}


#respawn {
    background-color: #555555;
    top: 50%;
    left: 50%;
    position: absolute;
    font-family: 'pixel';
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    transition-duration: 0.4s;
    opacity: 0.75;
    user-select: none;
    transform: translate(-50%, -50%);
}
#respawn:hover {
    opacity: 1;
    user-select: none;
}
#respawnTimer {
    top: 35%;
    left: 50%;
    position: absolute;
    font-family: 'pixel';
    text-align: center;
    font-size: 45px;
    color: #ffffff;
    transform: translate(-50%, -50%);
}
#deathScreen {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: rgba(255,0,0,0.3);
}

#mapFade {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
    cursor: crosshair;
}
#regionDisplay {
    position: absolute;
    font-size: 45px;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    transform: translate(-50%, -50%);
    color: #362b20;
    background-color: #725640;
    border: 1px solid #000000;
    opacity: 0;
    cursor: crosshair;
}
#regionDisplaySmall {
    position: static;
    font-size: 30px;
    text-align: center;
    color: #362b20;
    background-color: #725640;
    border: none;
    cursor: crosshair;
}

#chatDiv {
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: 400px;
    height: 170px;
    margin: 8px;
    padding-left: 0px;
    padding-top: 4px;
    padding-right: 0px;
    padding-bottom: 8px;
    border: none;
    background-color: transparent;
    border-radius: 8px;
}
#chatBackground {
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: 400px;
    height: 170px;
    margin: 8px;
    padding-left: 0px;
    padding-top: 4px;
    padding-right: 0px;
    padding-bottom: 8px;
    background-color: #ffffff;
    opacity: 0.3;
    border: 1px solid #000000;
    border-radius: 8px;
}
#chatText {
    position: static;
    width: 390px;
    height: 155px;
    margin: 0px;
    padding-left: 4px;
    padding-bottom: 0px;
    overflow-y: scroll;
    font-size: small;
    border-radius: 4px;
}
#chatInput {
    position: static;
    width: 400px;
    height: 15px;
    margin: 0px;
    padding: 0px;
    border-radius: 4px;
}

#bottomRightBar {
    position: absolute;
    right: 8px;
    bottom: 8px;
    width: 234px;
    height: 60px;
    padding: 0px;
    padding-left: 4px;
    border-radius: 4px;
}
#bottomRightBar:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #725640;
    border-radius: 4px;
}
.bottomRightButton {
    position: relative;
    right: 0px;
    width: 52px;
    height: 52px;
    margin-left: 0px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0px;
    background-color: #725640;
    border: 1px solid #000000;
    border-radius: 4px;
    float: left;
    transition-duration: 0.4s;
    cursor: pointer;
}
.bottomRightButton:hover {
    background-color: #5c4634;
}
.bottomRightButton::before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #988474;
    border-radius: 3px;
}

#inventoryBackground {
    position: absolute;
    right: 8px;
    bottom: 76px;
    width: 630px;
    height: 270px;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    opacity: 0.3;
    border: 1px solid #000000;
    border-radius: 8px;
}
#inventoryDiv {
    position: absolute;
    right: 8px;
    bottom: 76px;
    width: 630px;
    height: 270px;
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
    font-size: small;
    background-color: transparent;
    border: none;
}
#inventoryItems {
    position: absolute;
    top: 200px;
    left: 0px;
    height: 20px;
    width: 620px;
}
#hotbarDiv {
    position: absolute;
    left: 50%;
    bottom: 8px;
    width: 584px;
    height: 60px;
    margin: 0px;
    padding: 0px;
    font-size: small;
    border-radius: 4px;
    transform: translate(-50%, 0%);
}
#hotbarDiv:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #725640;
    border-radius: 4px;
}
#hotbarItems {
    position: absolute;
    top: -4px;
    left: -4px;
    margin: 0px;
    padding: 0px;
    height: 20px;
    width: 584px;
}
.hotbarSlot {
    position: relative;
    right: 0px;
    width: 52px;
    height: 52px;
    margin-left: 0px;
    margin-right: 4px;
    margin-top: 0px;
    margin-bottom: 4px;
    padding: 0px;
    background-color: #725640;
    border: 1px solid #000000;
    border-radius: 4px;
    float: left;
    cursor: pointer;
}
.hotbarSlotNormal::before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #988474;
    border-radius: 3px;
}
.hotbarSlotSelected::before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: none;
    border-radius: 3px;
}
.hotbarRow {
    position: relative;
    font-family: 'pixel';
    font-size: 13px;
    color: #ffffff;
    margin: 8px;
    width: 584px;
}
.inventorySlot {
    position: relative;
    font-family: 'pixel';
    font-size: 13px;
    color: #ffffff;
    border: 1px solid #000000;
    width: 52px;
    height: 52px;
    float: left;
    background-color: #725640;
    margin: 4px;
    border-radius: 4px;
}
.inventorySlot::before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #988474;
    border-radius: 3px;
}
.inventoryRow {
    position: relative;
    font-family: 'pixel';
    font-size: 13px;
    color: #ffffff;
    margin: 8px;
}
.itemImage {
    position: relative;
    left: 2px;
    top: 2px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    image-rendering: pixelated;
}
.outlineImage {
    position: relative;
    left: 0px;
    top: 0px;
    width: 48px;
    height: 48px;
    image-rendering: pixelated;
}
.itemMenu {
    display: none;
    position: absolute;
    z-index: 10;
}
#inventorySlothelmet {
    position: absolute;
    left: 40%;
    top: -184px;
    image-rendering: pixelated;
    transform: translate(-50%, 0%);
}
#inventorySlotchestplate {
    position: absolute;
    left: 40%;
    top: -126px;
    image-rendering: pixelated;
    transform: translate(-50%, 0%);
}
#inventorySlotboots {
    position: absolute;
    left: 40%;
    top: -68px;
    image-rendering: pixelated;
    transform: translate(-50%, 0%);
}
#inventorySlotring {
    position: absolute;
    left: 60%;
    top: -184px;
    image-rendering: pixelated;
    transform: translate(-50%, 0%);
}
#inventorySlotshield {
    position: absolute;
    left: 60%;
    top: -126px;
    image-rendering: pixelated;
    transform: translate(-50%, 0%);
}
#draggingItem {
    position: absolute;
    width: 64px;
    height: 64px;
    z-index: 10;
    image-rendering: pixelated;
}


#craftBackground {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 530px;
    height: 270px;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    opacity: 0.3;
    border: 1px solid #000000;
    border-radius: 8px;
}
#craftDiv {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 530px;
    height: 270px;
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
    font-size: small;
}
#craftItems {
    position: absolute;
    top: 22px;
    left: 0px;
    height: 20px;
    width: 520px;
}
.divImage {
    position: relative;
    top: 4px;
    left: 4px;
    color: #ffffff;
}

#settingBackground {
    position: absolute;
    left: 8px;
    top: 40%;
    width: 400px;
    height: 340px;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    opacity: 0.3;
    border: 1px solid #000000;
    border-radius: 8px;
    transform: translate(0%, -50%);
}
#settingDiv {
    position: absolute;
    left: 8px;
    top: 40%;
    width: 400px;
    height: 340px;
    margin: 0px;
    padding: 0px;
    font-size: small;
    transform: translate(0%, -50%);
}
#settingPlayerDiv {
    position: absolute;
    left: 16px;
    top: 48px;
    margin: 0px;
    padding: 0px;
}
.settingDropdown {
    position: relative;
}

#selfDisplay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 164px;
    height: 84px;
    padding: 0px;
}
#healthBar {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 152px;
    height: 22px;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    padding: 0px;
}
#healthBarValue {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 150px;
    height: 20px;
    background-color: #0069AA;
}
#healthBarText {
    position: absolute;
    left: 1px;
    top: 0px;
    width: 150px;
    height: 20px;
    text-align: center;
    color: #ffffff;
}
#xpBar {
    position: absolute;
    left: 5px;
    top: 30px;
    width: 152px;
    height: 22px;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    padding: 0px;
}
#xpBarValue {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 150px;
    height: 20px;
    background-color: #cccc00;
}
#xpBarText {
    position: absolute;
    left: 1px;
    top: 0px;
    width: 150px;
    height: 20px;
    text-align: center;
    color: #ffffff;
}
#manaBar {
    position: absolute;
    left: 5px;
    top: 55px;
    width: 152px;
    height: 22px;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    padding: 0px;
}
#manaBarValue {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 150px;
    height: 20px;
    background-color: #9900ff;
}
#manaBarText {
    position: absolute;
    left: 1px;
    top: 0px;
    width: 150px;
    height: 20px;
    text-align: center;
    color: #ffffff;
}