
body {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
div {
    user-select: none;
}
button {
    outline: none;
    cursor: pointer;
    pointer-events: all;
}
canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
    padding: 0px;
    margin: 0px;
}

body::after{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -10;
    content: url("./img/book.png") url("./img/map.png");  
}

#gameDiv {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #354149;
    padding: 0px;
    margin: 0px;
}
#gameBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #354149;
    padding: 0px;
    margin: 0px;
}
#map0 {
    position: absolute;
    top: 0px;
    left: 0px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    cursor: crosshair;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
#ctx0 {
    position: absolute;
    top: 0px;
    left: 0px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    cursor: crosshair;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
#map1 {
    position: absolute;
    top: 0px;
    left: 0px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    cursor: crosshair;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
#particleCtx {
    position: absolute;
    top: 0px;
    left: 0px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    cursor: crosshair;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
#ctx1 {
    position: absolute;
    top: 0px;
    left: 0px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    cursor: crosshair;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
#darknessEffectCtx {
    position: absolute;
    top: 0px;
    left: 0px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    cursor: crosshair;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
::-webkit-scrollbar {
    width: 10px;
    border-radius: 4;
}
::-webkit-scrollbar-track {
    background: rgba(30,30,30,0.5);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background: rgba(20,20,20,0.5);
    border-radius: 4px;
}
@font-face {
    font-family: 'pixel';
    src: url(/client/websiteAssets/Miniset.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

.UI-display {
    position: absolute;
    font-family: 'pixel';
    font-size: 15px;
    color: #ffffff;
    background-color: #362a1e;
    border: 1px solid #000000;
    cursor: default;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
}
.UI-display:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #725640;
    pointer-events: none;
}
.UI-transparent {
    position: absolute;
    font-family: 'pixel';
    font-size: 15px;
    color: #ffffff;
    background-color: rgba(255,255,255,0.3);
    border: 1px solid #000000;
    border-radius: 8px;
    cursor: default;
}
.UI-button {
    position: absolute;
    font-family: 'pixel';
    font-size: 15px;
    color: #ffffff;
    background-color: #362a1e;
    border: 1px solid #000000;
    transition-duration: 0.4s;
    cursor: pointer;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
}
.UI-button:hover {
    background-color: #231913;
}
.UI-button:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #725640;
    pointer-events: none;
}
.UI-dropdown {
    position: absolute;
    font-family: 'pixel';
    font-size: 15px;
    color: #ffffff;
    background-color: #362a1e;
    border: 1px solid #000000;
    transition-duration: 0.4s;
    cursor: pointer;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
}
.UI-dropdown:hover {
    background-color: #231913;
}
.UI-dropdown:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #725640;
    pointer-events: none;
}
.UI-input {
    position: absolute;
    font-family: 'pixel';
    color: #000000;
    border: 1px solid #000000;
    transition-duration: 0.4s;
    cursor: text;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
}
.UI-text {
    position: absolute;
    font-family: 'pixel';
    color: #000000;
    border: 0px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
}
.UI-link {
    color: #00ff90;
}
.UI-link:focus {
    color: #00aa70;
}

@keyframes moving-images {
    0% {left: 0px; top: 0px;}
    50% {left: -8000px; top: -1000px;}
    75% {left: -4000px; top: -4000px;}
    100% {left: 0px; top: 0px;}
}

#pageDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
#pageBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10000px;
    height: 10000px;
    padding: 0px;
    margin: 0px;
    background-image: url("./maps/World.png");
    background-size: 10000px;
    animation: moving-images 300s ease infinite;
}
#pageShade {
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    opacity: 0.3;
}
#pageScroll {
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
#pageName {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0%);
    font-size: 80px;
    font-family: 'pixel';
    color: #000000;
    text-align: center;
    text-shadow: 4px 4px rgba(0,0,0,0.3);
}

#pageStackLeft {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 35%;
    height: auto;
}
#pageStackRight {
    position: absolute;
    top: 50%;
    left: 55%;
    width: 35%;
    height: auto;
}
.pageStackInner {
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
}
.pageStackInner:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #725640;
    pointer-events: none;
}
.pageStackOuter {
    position: relative;
    top: 0px;
    left: 0%;
    width: 100%;
    height: auto;
    overflow: hidden;
    min-height: 0px;
    margin-bottom: 8px;
}
#signInput {
    position: static;
    top: 8px;
    float: left;
    width: auto;
}
#signLabel {
    position: static;
    top: 8px;
    left: 8px;
    float: left;
    width: auto;
}
#signBottom {
    position: relative;
    top: 0px;
    left: 0px;
    float: left;
    width: 100%;
    margin-bottom: 12px;
}
#username {
    position: relative;
    top: 8px;
    left: 8px;
}
#password {
    position: relative;
    top: 8px;
    left: 8px;
}
#newPassword {
    position: relative;
    top: 8px;
    left: 8px;
}
#usernameLabel {
    position: relative;
    top: 8px;
    left: 8px;
    color: #ffffff;
}
#passwordLabel {
    position: relative;
    top: 12px;
    left: 8px;
    color: #ffffff;
}
#newPasswordLabel {
    position: relative;
    top: 12px;
    left: 8px;
    color: #ffffff;
}
#signIn {
    position: relative;
    top: 8px;
    left: 8px;
}
#createAccount {
    position: relative;
    top: 8px;
    left: 8px;
}
#deleteAccount {
    position: relative;
    top: 8px;
    left: 8px;
}
#changePassword {
    position: relative;
    top: 8px;
    left: 8px;
}
#signError {
    position: relative;
    top: 8px;
    left: 8px;
}

#regionDisplay {
    text-shadow: 3px 3px rgba(0,0,0,0.3);
}

.disconnectedDiv {
    background-color: #ff0000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: 'pixel';
    text-align: center;
    font-size: 75px;
    color: #000000;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    transition-duration: 0.4s;
    opacity: 0.75;
    user-select: none;
}
.disconnectedDiv:hover {
    opacity: 1;
    font-size: 150px;
}


#respawn {
    background-color: #555555;
    top: 50%;
    left: 50%;
    position: absolute;
    font-family: 'pixel';
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    transition-duration: 0.4s;
    opacity: 0.75;
    user-select: none;
    transform: translate(-50%, -50%);
}
#respawn:hover {
    opacity: 1;
    user-select: none;
}
#respawnTimerDiv {
    top: 35%;
    left: 50%;
    position: absolute;
    font-family: 'pixel';
    text-align: center;
    font-size: 45px;
    color: #ffffff;
    transform: translate(-50%, -50%);
}
#deathScreen {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: rgba(255,0,0,0.3);
}

#mapFade {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
    cursor: crosshair;
}
#darknessFade {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
    cursor: crosshair;
}
#regionDisplay {
    position: absolute;
    font-size: 45px;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    transform: translate(-50%, -50%);
    color: #362b20;
    background-color: #725640;
    border: 1px solid #000000;
    opacity: 0;
    text-align: center;
    cursor: crosshair;
    pointer-events: none;
    z-index: 3;
}
#regionDisplaySmall {
    position: static;
    font-size: 30px;
    text-align: center;
    color: #362b20;
    background-color: #725640;
    border: none;
    cursor: crosshair;
}

#chatDiv {
    left: 4px;
    bottom: 4px;
    width: 400px;
    height: 170px;
    margin: 8px;
    padding-left: 0px;
    padding-top: 4px;
    padding-right: 0px;
    padding-bottom: 8px;
    text-shadow: 2px 2px rgba(0,0,0,0.3);
}
#chatText {
    position: static;
    width: 390px;
    height: 160px;
    margin: 0px;
    padding-left: 4px;
    padding-bottom: 0px;
    overflow-y: scroll;
    overflow-wrap: break-word;
    font-size: small;
    border-radius: 4px;
}
#chatInput {
    position: static;
    width: 400px;
    height: 15px;
    margin: 0px;
    padding: 0px;
    border-radius: 4px;
}

.text {
    user-select: text;
}
@keyframes command{
    0%{color: #ff0000;}
    20%{color: #9900ff;}
    30%{color: #0066ff;}
    50%{color: #00aa66;}
    70%{color: #0066ff;}
    80%{color: #9900ff;}
    100%{color: #ff0000;}
}
.command {
    animation: command 3s infinite; 
}
@keyframes speed{
    0%{color: #ffffff;}
    50%{color: #000000;}
    100%{color: #ffffff;}
}
@keyframes sp{
    0%{color: #ff0000;}
    8%{color: #ff9900;}
    16%{color: #ffff00;}
    25%{color: #99ff00;}
    33%{color: #00ff00;}
    41%{color: #00ff99;}
    50%{color: #00ffff;}
    58%{color: #0099ff;}
    66%{color: #0000ff;}
    75%{color: #9900ff;}
    83%{color: #ff00ff;}
    91%{color: #ff0090;}
    100%{color: #ff0000;}
}

#bottomRightBar {
    position: absolute;
    right: 8px;
    bottom: 8px;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 4px;
    white-space: nowrap;
}
#bottomRightBar:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #725640;
    border-radius: 4px;
    pointer-events: none;
}
.bottomRightButton {
    position: relative;
    display: inline-block;
    left: 0px;
    width: 52px;
    height: 52px;
    margin-left: -2px;
    margin-right: -2px;
    margin-top: 2px;
    margin-bottom: 0px;
    padding: 0px;
    background-color: #725640;
    border: 1px solid #000000;
    border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.bottomRightButton:hover {
    background-color: #5c4634;
}
.bottomRightButton:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #988474;
    border-radius: 3px;
    pointer-events: none;
}
.itemImage {
    position: relative;
    left: 2px;
    top: 2px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    image-rendering: pixelated;
}

#inventoryDiv {
    right: 8px;
    bottom: 76px;
    width: 645px;
    height: 340px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: small;
}
#inventoryItems {
    position: absolute;
    top: 200px;
    left: 8px;
    height: 20px;
    width: 625px;
}
#inventoryExit {
    position: fixed;
    right: 22px;
    bottom: 400px;
    width: 14px;
    height: 14px;
    color: #000000;
    background-color: #ff0000;
    border: 1px solid #5b0000;
}
#inventoryExit:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #ff5b5b;
    pointer-events: none;
}
#inventoryExit:hover {
    background-color: #ff3b3b;
}
#inventoryExitText {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 12px;
    height: 16px;
    font-size: 8px;
    text-align: center;
}
#hotbarDiv {
    position: absolute;
    left: 50%;
    bottom: 8px;
    margin: 0px;
    padding: 2px;
    padding-bottom: 0px;
    font-size: small;
    white-space: nowrap;
    border-radius: 4px;
    transform: translate(-50%, 0%);
}
#hotbarDiv:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #725640;
    border-radius: 4px;
    pointer-events: none;
}
.hotbarSlot {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 52px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 0px;
    padding: 0px;
    background-color: #725640;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
}
.hotbarSlotNormal:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #988474;
    border-radius: 3px;
    pointer-events: none;
}
.hotbarSlotSelected:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: none;
    border-radius: 3px;
    pointer-events: none;
}
.inventorySlot {
    position: relative;
    font-family: 'pixel';
    display: inline-block;
    font-size: 13px;
    color: #ffffff;
    border: 1px solid #000000;
    width: 52px;
    height: 52px;
    background-color: #725640;
    margin: 4px;
    border-radius: 4px;
    cursor: pointer;
}
.inventorySlot:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #988474;
    border-radius: 3px;
    pointer-events: none;
}
.slotCanvasSmall {
    position: relative;
    left: 2px;
    top: 2px;
    width: 24px;
    height: 24px;
    image-rendering: pixelated;
}
.slotCanvas {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 48px;
    height: 48px;
    image-rendering: pixelated;
}
.slotCanvasLarge {
    position: relative;
    left: 2px;
    top: 2px;
    width: 60px;
    height: 60px;
    image-rendering: pixelated;
}
.itemAmount {
    position: relative;
    float: right;
    color: #ffffff;
}
.itemAmountDiv {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 2px;
    font-size: 13px;
}
.itemAmountLargeDiv {
    position: absolute;
    left: 0px;
    bottom: -3px;
    right: -1px;
    font-size: 15px;
}
.cooldownDiv {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 0%;
    opacity: 0.5;
    background-color: #ff0000;
}
.cooldownDivRound {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 0%;
    opacity: 0.5;
    background-color: #ff0000;
    border-radius: 4px;
}
.outlineImage {
    position: relative;
    left: 0px;
    top: 0px;
    width: 48px;
    height: 48px;
    image-rendering: pixelated;
}
.itemMenu {
    display: none;
    position: absolute;
    z-index: 2;
    pointer-events: none;
}
#inventorySlothelmet {
    position: absolute;
    left: 40%;
    top: -184px;
    image-rendering: pixelated;
    transform: translate(-50%, 0%);
}
#inventorySlotchestplate {
    position: absolute;
    left: 40%;
    top: -126px;
    image-rendering: pixelated;
    transform: translate(-50%, 0%);
}
#inventorySlotboots {
    position: absolute;
    left: 40%;
    top: -68px;
    image-rendering: pixelated;
    transform: translate(-50%, 0%);
}
#inventorySlotgloves {
    position: absolute;
    left: 50%;
    top: -184px;
    image-rendering: pixelated;
    transform: translate(-50%, 0%);
}
#inventorySlotshield {
    position: absolute;
    left: 50%;
    top: -126px;
    image-rendering: pixelated;
    transform: translate(-50%, 0%);
}
#inventorySlotbundle {
    position: absolute;
    left: 50%;
    top: -68px;
    image-rendering: pixelated;
    transform: translate(-50%, 0%);
}
#inventorySlotaccessory1 {
    position: absolute;
    left: 60%;
    top: -184px;
    image-rendering: pixelated;
    transform: translate(-50%, 0%);
}
#inventorySlotaccessory2 {
    position: absolute;
    left: 60%;
    top: -126px;
    image-rendering: pixelated;
    transform: translate(-50%, 0%);
}
#inventorySlotaccessory3 {
    position: absolute;
    left: 60%;
    top: -68px;
    image-rendering: pixelated;
    transform: translate(-50%, 0%);
}
#inventorySlottrash {
    position: absolute;
    right: 16px;
    top: -184px;
    image-rendering: pixelated;
}
#draggingItem {
    position: absolute;
    width: 64px;
    height: 64px;
    z-index: 2;
    image-rendering: pixelated;
    pointer-events: none;
}


#debuffDiv {
    position: absolute;
    left: 50%;
    bottom: 76px;
    width: 584px;
    height: 24px;
    margin: 0px;
    padding: 0px;
    font-size: small;
    border-radius: 4px;
    cursor: crosshair;
    transform: translate(-50%, 0%);
}
.debuffSlot {
    position: relative;
    right: 0px;
    width: 28px;
    height: 28px;
    margin-left: 0px;
    margin-right: 4px;
    margin-top: 0px;
    margin-bottom: 4px;
    padding: 0px;
    background-image: conic-gradient(rgba(255,0,0,0.5) 100%, rgba(255,255,255,0.3) 100% 100%);
    border: 1px solid #000000;
    border-radius: 4px;
    float: left;
    cursor: pointer;
}

#craftDiv {
    right: 8px;
    top: 8px;
    width: 520px;
    height: 270px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: small;
}
#craftItems {
    position: absolute;
    top: 50px;
    left: 8px;
    height: 20px;
    width: 510px;
}
#craftInput {
    position: absolute;
    top: 35px;
    left: 10px;
    width: 492px;
    height: 15px;
    margin: 0px;
    padding: 0px;
    border-radius: 4px;
}
.divImage {
    position: relative;
    top: 4px;
    left: 4px;
    color: #ffffff;
}
#craftExit {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 14px;
    height: 14px;
    color: #000000;
    background-color: #ff0000;
    border: 1px solid #5b0000;
}
#craftExit:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #ff5b5b;
    pointer-events: none;
}
#craftExit:hover {
    background-color: #ff3b3b;
}
#craftExitText {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 12px;
    height: 16px;
    font-size: 8px;
    text-align: center;
}

#tradeDiv {
    left: 50%;
    top: 8px;
    width: 410px;
    height: 316px;
    font-size: small;
    transform: translate(-50%, 0%);
}
#tradeItems1 {
    position: absolute;
    top: 32px;
    left: 8px;
    height: 186px;
}
#tradeItems2 {
    position: absolute;
    top: 32px;
    right: 8px;
    height: 186px;
}
#tradeButtons {
    position: absolute;
    top: 240px;
    left: 208px;
    height: 20px;
    width: 202px;
}
#acceptTrade {
    left: 50%;
    width: 160px;
    height: 32px;
    font-size: large;
    transform: translate(-50%, 0%);
    background-color: #00aa00;
    border: 1px solid #005b00;
}
#acceptTrade:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #3baa3b;
    pointer-events: none;
}
#acceptTrade:hover {
    background-color: #3bcc3b;
}
#declineTrade {
    top: 36px;
    left: 50%;
    width: 160px;
    height: 32px;
    font-size: large;
    transform: translate(-50%, 0%);
    background-color: #ff0000;
    border: 1px solid #5b0000;
}
#declineTrade:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #ff5b5b;
    pointer-events: none;
}
#declineTrade:hover {
    background-color: #ff3b3b;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 0.7;}
}
#dialogueDiv {
    left: 50%;
    bottom: 76px;
    width: 584px;
    height: 152px;
    padding: 8px;
    font-size: small;
    transform: translate(-50%, 0%);
}
#dialogueMessage {
    position: relative;
    background-color: #ffffff;
    opacity: 0.7;
    border: 1px solid #000000;
    border-radius: 8px;
}
.dialogueOption {
    position: relative;
    background-color: #ffffff;
    opacity: 0.7;
    border: 1px solid #000000;
    border-radius: 8px;
    margin-bottom: 4px;
    transition-duration: 0.4s;
    animation-duration: 0.4s;
}
.dialogueOption:hover {
    background-color: #00ff90;
}

#settingDiv {
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
    margin: 0px;
    padding: 0px;
    font-size: small;
    border-top-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
#settingNavigationBar {
    position: absolute;
    left: -1px;
    top: 0px;
    width: 100%;
    height: 24px;
}
.settingNavigationButtonLeft {
    border-top-left-radius: 8px;
}
.settingNavigationButtonRight {
    border-top-right-radius: 8px;
}
.settingNavigationButton {
    position: relative;
    display: inline-block;
    left: 0px;
    top: 0px;
    background-color: #ffffff;
    opacity: 0.7;
    border: 1px solid #000000;
    margin-right: -8px;
    margin-bottom: 4px;
    transition-duration: 0.4s;
    transform: translate(0%, -100%);
}
.settingsDiv {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
}
#settingPlayerDiv {
    position: absolute;
    left: 16px;
    top: 8px;
    margin: 0px;
    padding: 0px;
}
.settingDropdown {
    position: relative;
}
#settingExit {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 14px;
    height: 14px;
    color: #000000;
    background-color: #ff0000;
    border: 1px solid #5b0000;
}
#settingExit:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #ff5b5b;
    pointer-events: none;
}
#settingExit:hover {
    background-color: #ff3b3b;
}
#settingExitText {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 12px;
    height: 16px;
    font-size: 8px;
    text-align: center;
}
#settingLine {
    position: relative;
    display: inline-block;
    left: 350px;
    top: 0px;
    width: 1px;
    height: 100%;
    background-color: #000000;
}
#currentClanDisplay {
    position: absolute;
    left: 0px;
    top: 5px;
}
#createClanButton {
    position: absolute;
    left: 4px;
    top: 25px;
}
#createClanForm {
    position: absolute;
    left: 4px;
    top: 55px;
}
#clanMembersDisplay {
    position: absolute;
    left: 0px;
    top: 25px;
    height: 40%;
    overflow-y: scroll;
}
#playersOnlineDisplay {
    position: absolute;
    left: 0px;
    bottom: 5px;
    height: 40%;
    overflow-y: scroll;
}
#clanOptions {
    position: absolute;
    right: 0px;
    top: 5px;
    width: 50%;
    height: 100%;
    pointer-events: none;
}
#clanXpBar {
    position: absolute;
    right: 20px;
    top: 0px;
    width: 152px;
    height: 22px;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    padding: 0px;
}
#clanXpBarValue {
    position: absolute;
    left: 1px;
    top: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background-color: #cccc00;
}
#clanXpBarText {
    position: absolute;
    left: 1px;
    top: 0px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    text-align: center;
    color: #ffffff;
}
#clanStats {
    position: absolute;
    right: 8px;
    top: 28px;
    text-align: right;
}
#disbandClanButton {
    position: absolute;
    right: 4px;
    bottom: 39px;
    color: #ff0000;
}
#transferLeadershipButton {
    position: absolute;
    right: 4px;
    bottom: 9px;
    color: #ff0000;
}
#leaveClanButton {
    position: absolute;
    right: 4px;
    bottom: 9px;
    color: #ff0000;
}

#clanRewardDiv {
    position: absolute;
    left: 50%;
    top: 8px;
    width: 208px;
    height: 252px;
    background-color: rgba(255,255,255,0.3);
    border: 1px solid #000000;
    border-radius: 8px;
    transform: translate(-50%, 0%);
}
#clanRewardText {
    position: relative;
    text-align: center;
}
.clanReward {
    width: 84px;
    height: 84px;
    cursor: pointer;
}
#clanReward1 {
    left: 8px;
    bottom: 100px;
}
#clanReward2 {
    right: 8px;
    bottom: 100px;
}
#clanReward3 {
    left: 8px;
    bottom: 8px;
}
#clanReward4 {
    right: 8px;
    bottom: 8px;
}
.clanRewardCanvas {
    position: relative;
    left: 2px;
    top: 2px;
    width: 80px;
    height: 80px;
    image-rendering: pixelated;
    pointer-events: none;
}

#bossbarDiv {
    position: absolute;
    top: 5px;
    left: 50%;
    width: 502px;
    height: 42px;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    padding: 0px;
    transform: translate(-50%, 0%);
}
#bossbarValue {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 500px;
    height: 40px;
    background-color: #ea323c;
}
#bossbarText {
    position: absolute;
    top: 50%;
    left: 1px;
    width: 500px;
    text-align: center;
    color: #ffffff;
    transform: translate(0%, -50%);
}

#shopDiv {
    left: 8px;
    top: 40%;
    width: 335px;
    height: 335px;
    font-size: small;
    overflow-y: scroll;
    transform: translate(0%, -50%);
}
#shopItems {
    position: absolute;
    top: 30px;
    left: 8px;
    height: 20px;
    width: 315px;
}
#shopExit {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 14px;
    height: 14px;
    color: #000000;
    background-color: #ff0000;
    border: 1px solid #5b0000;
}
#shopExit:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #ff5b5b;
    pointer-events: none;
}
#shopExit:hover {
    background-color: #ff3b3b;
}
#shopExitText {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 12px;
    height: 16px;
    font-size: 8px;
    text-align: center;
}

#selfDisplay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 164px;
    height: 84px;
    padding: 0px;
}
#healthBar {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 152px;
    height: 22px;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    padding: 0px;
}
#healthBarValue {
    position: absolute;
    left: 1px;
    top: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background-color: #5ac54f;
}
#healthBarText {
    position: absolute;
    left: 1px;
    top: 0px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    text-align: center;
    color: #ffffff;
}
#xpBar {
    position: absolute;
    left: 5px;
    top: 30px;
    width: 152px;
    height: 22px;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    padding: 0px;
}
#xpBarValue {
    position: absolute;
    left: 1px;
    top: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background-color: #cccc00;
}
#xpBarText {
    position: absolute;
    left: 1px;
    top: 0px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    text-align: center;
    color: #ffffff;
}
#manaBar {
    position: absolute;
    left: 5px;
    top: 55px;
    width: 152px;
    height: 22px;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    padding: 0px;
}
#manaBarValue {
    position: absolute;
    left: 1px;
    top: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background-color: #9900ff;
}
#manaBarText {
    position: absolute;
    left: 1px;
    top: 0px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    text-align: center;
    color: #ffffff;
}

#bookDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: calc(100vw / 3);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-image: url("./img/book.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    padding: 0px;
    margin: 0px;
    transform: translate(-50%, -50%);
}
.bookPageDiv {
    left: 9%;
    right: 9%;
    top: 4.5%;
    bottom: 18%;
    padding: 0px;
    border: none;
}
.bookPageLeft {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: calc(13 / 27 * 100%);
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: none;
}
.bookPageRight {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    width: calc(13 / 27 * 100%);
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: none;
}
#bookArrowLeft {
    left: 2px;
    top: 50%;
    color: #ffffff;
    font-size: 20px;
    transform: translate(0%, -50%);
}
#bookArrowLeft:hover {
    color: #00ff90;
}
#bookArrowRight {
    right: 2px;
    top: 50%;
    color: #ffffff;
    font-size: 20px;
    transform: translate(0%, -50%);
}
#bookArrowRight:hover {
    color: #00ff90;
}